/*etiquetas <-- orden alfabético
identificadores
clases
pseudoelementos*/
body 
{
	/*atributos:valor;*/
	background: rgb(255,255,255); /*fondo backgroung: red*/
	color: #000000; /*letra color: pink*/ 
	margin: 0 auto; /*margen externo*/
	max-width: 1024px; /*ancho máximo*/
}
body header
{
	background: pink; /*fondo*/
	border: 1px solid black; /*borde normal*/
	border-radius: 5px; /*bordes redondeados (esquinas)*/
	box-shadow: 5px 5px black;
	color: white; /*letra*/
}

header h1
{
	text-shadow: 5px 5px 10px black;
	text-align: center;
}
header img
{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	width: 80px;
}

header nav ul li
{
	/*border: 1px solid yellow;*/
	background: white;
	border-radius: 5px;
	box-shadow: -5px -5px black;
	color: black;
	display: inline-block; /*rope caja*/
	margin: 0px 30px;
	padding: 10px;
}

header nav ul li:hover
{
	background: black;
	color: white;
}

/*Aqui van los id's*/
#seccion1 
{
	border: 10px solid red;
}

#seccion1 article
{
	border: 10px solid black;
	display: inline-block; /*rompe caja*/
	vertical-align: top; /*dice que se puede alinear verticalmente y hacia arriba*/
	width: 47.8%;
}




